@import "basics/basicVariablen";
@import "basics/basicMixins";

* {
  @include base-all-selektor;
}

title {
  @include title;
}

html {
  @include base-html;
}

body {
  @include base-body;
}

h1,
h2 {
  display: none;
}

.error > h2 {
  display: inline;
  font-size: 5rem;
  color: $white;
}

.error > p {
  font-size: 3.6rem;
  color: $white;
}

h3,
h5 {
  @include base-h3;
}

h4 {
  @include base-h3;
  @include base-h4;
}

p {
  padding: 2%;
  font-size: 1.3rem;
}

.analyze {
  font-size: 1.1rem;
}

.formatedInput {
  font-size: 0.9rem;
}

img {
  margin: 7% auto 2% auto;
  width: 17%;
}

.back {
  grid-column-start: 1;
}

.lpSection div,
.output {
  display: grid;
  margin: 2% auto;
  width: 50%;
  border-radius: 2rem;
  background-color: $blass;
}

.lpSection div div {
  text-align: center;
  align-items: center;
  width: 96%;
  background-color: $white;
}

button {
  width: 15%;
  height: 45%;
  margin: 2% auto;
  background-color: $petrol;
  color: $white;
  font-size: 1.5rem;
  border-radius: 2rem;
  border-color: $petrol;
}

section section {
  @include base-main;
}

section img {
  @include base-main-img;
}

.content,
.output {
  position: fixed;
  top: 31%;
  left: 10%;
  right: 10%;
}

div div {
  display: block;
  justify-content: center;
}

div div div {
  display: flex;
  margin-bottom: 3%;
}

div h3 {
  margin: -2% auto 0 auto;
}

div img {
  width: 10%;
  margin: 2% 7% 0 7%;
}

form {
  width: 60%;
  height: 30rem;
  background-color: $blass;
  border-radius: 2rem;
}

.upload-form {
  height: 12rem;
}

form div {
  margin-top: 2%;
}

label {
  color: $black-black;
}

.input-label {
  display: none;
}

input[type="file"] {
  width: 75%;
  padding: 0.8%;
  margin-left: -5%;
  background-color: $white;
}

textarea {
  caret-color: $petrol;
  width: 90%;
  height: 20rem;
  border: 1px solid #cccccc;
  padding: 0.5em;
  font-family: Tahoma, sans-serif;
  font-size: 1rem;
}

.go {
  height: 75px;
  width: 75px;
  border-radius: 49%;
}

.validation {
  width: 40%;
  padding: 1%;
  background-color: $white;
  border-style: solid;
  border-color: $red;
}

.output {
  margin-top: -5%;
}

.outputContent {
  display: inline;
  background-color: $white;
  max-height: 600px;
  overflow: scroll;
  margin: 2%;
}

.output div {
  width: 95%;
}

.formatedInput,
.outputContent {
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 0.7%;
}

.senteces {
  color: $light-blue;
  font-weight: bold;
  margin: 4% 0 -3% 0;
}

.senteces:first-of-type {
  margin-top: 0%;
}

.analyze {
  margin-bottom: -2%;
}

.error {
  padding: 8%;
  text-align: center;
  width: 20%;
  margin-top: 5%;
  border-radius: 2rem;
  background-color: $blass;
  width: 30%;
}
