@import "basics/basicVariablen";
@import "basics/basicMixins";

* {
  @include base-all-selektor;
}

title {
  @include title;
}

html {
  @include base-html;
}

body {
  @include base-body;
}

h1 {
  display: none;
}

h2 {
  font-size: 4rem;
  color: $white;
  font-family: "Marion";
  font-weight: 200;
}

main section {
  @include base-main;
}

main img {
  @include base-main-img;
}

div {
  display: block;
  justify-content: center;
}

div div {
  display: flex;
  margin-top: 4%;
}

div h2 {
  margin: auto;
}

div img {
  width: 15%;
  margin: 0 7% 0 7%;
}
