@import "basics/basicVariablen";
@import "basics/basicMixins";

* {
  @include base-all-selektor;
}

title {
  @include title;
}

html {
  @include base-html;
}

body {
  @include base-body;
}

h1 {
  display: none;
}

main section {
  @include base-main;
}

main img {
  @include base-main-img;
}

h2 {
  font-size: 5.5rem;
  color: $white;
}

p {
  font-size: 3.6rem;
  color: $white;
}

div div {
  padding: 8%;
  text-align: center;
  width: 20%;
  margin-top: 5%;
  border-radius: 2rem;
  background-color: $blass;
}

.div500 {
  width: 50%;
}
