@import "basics/basicVariablen";
@import "basics/basicMixins";

* {
  @include base-all-selektor;
}

title {
  @include title;
}

html {
  @include base-html;
}

body {
  @include base-body;
}

h1 {
  display: none;
}

h2 {
  @include base-h2;
}

img {
  margin: 1.5rem auto 2rem auto;
  width: 17%;
  margin-top: 5%;
}

p {
  padding: 1rem;
  font-size: 1.3rem;
}

.lpSection div {
  display: grid;
  grid-template-rows: 0.04fr 0.04fr 0.2fr;
  width: 70%;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
}

.lpSection div div {
  text-align: center;
  grid-row-start: 3;
  width: 90%;
  background-color: $white;
}

button {
  margin-top: 6.5%;
  width: 20%;
  height: 35%;
  background-color: $petrol;
  color: $white;
  font-size: 1.5rem;
  border-radius: 2rem;
}

section section {
  @include base-main;
}

section img {
  @include base-main-img;
}

.back {
  grid-column-start: 1;
}

div {
  display: block;
  justify-content: center;
}

div div {
  display: flex;
  margin-bottom: 6%;
}

div h2 {
  margin: auto;
}

div img {
  width: 15%;
  margin: 0 7% 0 7%;
}
