<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <main>
      <section>
        <h1>icons right</h1>
        <img src="icons/home.png" alt="homeButton" />
      </section>

      <div>
        <div>
          <p>404</p>
          <p>Page not found</p>
        </div>
      </div>
    </main>
  </body>
</html>
