<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <main>
      <img src="icons/home.png" alt="homeButton" />

      <img src="icons/mobile.png" alt="mobileButton" />
      <img src="icons/both.png" alt="bothButton" />
      <img src="icons/desktopSmall.png" alt="desktopButton" />

      <div>
        <h1>404</h1>
        <p>Page not found</p>
      </div>
    </main>
  </body>
</html>
