<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Container</title>
    <link rel="stylesheet" href="/css/chooseFormat.css" />
  </head>
  <body>
    <main>
      <section>
        <h1>icons right</h1>
        <img src="icons/home.png" alt="homeButton" />

        <!-- <img src="icons/mobile.png" alt="mobileButton" />
        <img src="icons/both.png" alt="bothButton" />
        <img src="icons/desktopSmall.png" alt="desktopButton" /> -->
      </section>

      <div>
        <div>
          <h2>Choose your format</h2>
        </div>

        <div>
          <img src="icons/mobile.png" alt="mobile Auswahl" />
          <img src="icons/Both.png" alt="Both" />
          <img src="icons/desktopBig.png" alt="desktop" />
        </div>
      </div>
    </main>
  </body>
</html>
