<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/errorPages.css" />
    <script src="/js/errorClient.js"></script>
</head>

<body>
    <main>
        <section>
            <h1>icons right</h1>
            <img class="home" src="../assets/icons/home.png" alt="homeButton" />
        </section>

        <div>
            {{#if error404}}
            <div>
                <h2>404</h2>
                <br>
                <p>Page not found</p>
            </div>


            {{else}}
            <div class="div500">
                <h2>500</h2>
                <br>
                <p>Some error occured!</p>
                <p>We are working on fixing this, sorry for the inconvenicence.</p>
            </div>
            {{/if}}
        </div>
    </main>
</body>

</html>