<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/errorClient.js"></script>
    <script src="/js/indexClient.js"></script>

</head>

<body>
    <main>


        <section>

            <h1>presettings</h1>
            <section>
                <h2>small icons</h2>

                <img class="back" src="../assets/icons/back.png" alt="backButton" />

                <img class="home" src="../assets/icons/home.png" alt="homeButton" />
                <img class="mobile" src="../assets/icons/mobile.png" alt="mobileButton" />
                <img class="both" src="../assets/icons/both.png" alt="bothButton" />
                <img class="desktop" src="../assets/icons/desktopSmall.png" alt="desktopButton" />
            </section>


            <div class="outputDiv">

                <div>
                    <div>
                        <h3>Output</h3>
                    </div>

                    <div>
                        {{#if color}}
                        <div class="output">
                            <p class="senteces">
                                colors:
                                <p>{{color}}</p>
                            </p>
                            {{/if}}

                            <p class="senteces">
                                fonts:
                                <p>{{fonts}}</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>