<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Upload</title>
    <link rel="stylesheet" href="/css/chooseFormat.css" />
  </head>
  <body>
    <main>
      <img src="icons/home.png" alt="homeButton" />
      <!--
             <img src="icons/handyKlein.png" alt="homeButton"> 
             <img src="icons/beidesKlein.png" alt="homeButton"> 
           <img src="icons/desktopKlein.png" alt="homeButton"> 
-->

      <div>
        <img src="icons/mobile.png" alt="mobile Auswahl" />
        <img src="icons/Both.png" alt="Both" />
        <img src="icons/desktopBig.png" alt="desktop" />
      </div>
    </main>
  </body>
</html>
