<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>mobileUpload</title>
    <link rel="stylesheet" href="/css/uploads.css" />
  </head>
  <body>
    <main>
      <section>
        <h1>icons right</h1>
        <img src="icons/home.png" alt="homeButton" />
        <img src="icons/both.png" alt="bothButton" />
        <img src="icons/desktopSmall.png" alt="desktopButton" />
      </section>

      <div>
        <div>
          <h2>Choose your upload for mobile version</h2>
        </div>

        <div>
          <img src="icons/file.png" alt="fileUpload" />
          <img src="icons/keyboard.png" alt="keyboardUpload" />
        </div>
      </div>
    </main>
  </body>
</html>
