* {
  box-sizing: content-box;
  display: block;
  margin: auto; }

title {
  display: none; }

html {
  font-family: sans-serif;
  font-size: 18px; }

body {
  background-image: url("../../assets/background.png");
  background-repeat: no-repeat;
  background-size: 100%; }

h1,
h2 {
  display: none; }

h3,
h5 {
  font-size: 2.5em;
  color: white;
  font-family: "Marion";
  font-weight: 200; }

h4 {
  font-size: 2.5em;
  color: white;
  font-family: "Marion";
  font-weight: 200;
  font-size: 2rem;
  color: #9f0505; }

.formattedInput {
  font-size: 0.9rem; }

img {
  margin: 7% auto 4% auto;
  width: 17%; }

p {
  padding: 2%;
  font-size: 1.3rem; }

.back {
  grid-column-start: 1; }

.lpSection div,
.output {
  display: grid;
  margin: 2% auto;
  width: 70%;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.4); }

.lpSection div div {
  text-align: center;
  align-items: center;
  width: 96%;
  background-color: white; }

button {
  width: 15%;
  height: 45%;
  margin: 2% auto;
  background-color: #034b5f;
  color: white;
  font-size: 1.5rem;
  border-radius: 2rem;
  border-color: #034b5f; }

section section {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr; }

section img {
  grid-column-start: 4;
  margin: 1rem;
  width: 3.5rem;
  cursor: pointer; }

.content,
.output {
  position: fixed;
  top: 31%;
  left: 10%;
  right: 10%; }

div div {
  display: block;
  justify-content: center; }

div div div {
  display: flex;
  margin-bottom: 3%; }

div h3 {
  margin: -2% auto 0 auto; }

div img {
  width: 10%;
  margin: 2% 7% 0 7%; }

form {
  width: 60%;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2rem; }

.upload-form {
  height: 12rem; }

form div {
  margin-top: 2%; }

label {
  color: black; }

.input-label {
  display: none; }

input[type="file"] {
  width: 75%;
  padding: 0.8%;
  margin-left: -5%;
  background-color: white; }

textarea {
  caret-color: #034b5f;
  width: 90%;
  height: 20rem;
  border: 1px solid #cccccc;
  padding: 0.5em;
  font-family: Tahoma, sans-serif;
  font-size: 1rem; }

.go {
  height: 75px;
  width: 75px;
  border-radius: 49%; }

.validation {
  width: 40%;
  padding: 1%;
  background-color: white;
  border-style: solid;
  border-color: #9f0505; }

.output {
  margin-top: -5%; }

.outputContent {
  display: inline;
  background-color: white;
  max-height: 600px;
  overflow: scroll;
  margin: 2%; }

.output div {
  width: 95%; }

.formattedInput {
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 0.7%; }

.senteces {
  color: #14af8f;
  font-weight: bold;
  margin-bottom: -2%; }

.senteces:first-of-type {
  margin: 0%; }
