* {
  box-sizing: content-box;
  display: block;
  margin: auto; }

title {
  display: none; }

html {
  font-family: sans-serif;
  font-size: 18px; }

body {
  background-image: url("../background.png");
  background-repeat: no-repeat;
  background-size: 100%; }

h1 {
  display: none; }

h2 {
  font-size: 4rem;
  color: white;
  font-family: "Marion";
  font-weight: 200; }

main section {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr; }

main img {
  grid-column-start: 4;
  margin: 1rem;
  width: 3.5rem;
  cursor: pointer; }

div {
  display: block;
  justify-content: center; }

div div {
  display: flex;
  margin-bottom: 6%; }

div h2 {
  margin: auto; }

div img {
  width: 15%;
  margin: 0 7% 0 7%; }
