h1 {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);

  /* darkyellow */
  background-color: #f3cd0f;
  color: rgb(209, 178, 20);
  color: rgba(195, 172, 55, 0.4);

  /* light orange */
  color: #f2d08d;
  background-color: rgba(252, 227, 178, 1);
  color: rgb(250, 196, 88);

  /* yellow */
  color: #f6f629;
  color: #fff608;
  color: #f5f589;
}
