@import "basics/basicVariablen";
@import "basics/main";

// "CSS base template"
@mixin base-all-selektor() {
  box-sizing: $base-box-sizing;
  display: $base-display;
  margin: $base-margin;
}

@mixin title {
  display: $title-display;
}

@mixin base-html() {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

@mixin base-body() {
  background-image: $base-background-image;
  background-repeat: $base-background-repeat;
  background-size: $base-background-size;
}

@mixin base-h3() {
  font-size: $h3-font-size;
  color: $h3-color;
  font-family: $h3-font-family;
  font-weight: $h3-font-weight;
}

@mixin base-h4() {
  font-size: $h4-font-size;
  color: $h4-color;
}

@mixin base-main() {
  display: $main-display;
  grid-template-columns: $main-grid-template-columns;
  grid-template-rows: $main-grid-template-rows;
}

@mixin base-main-img() {
  grid-column-start: $main-img-grid-column-start;
  margin: $main-img-margin;
  width: $main-img-width;
  cursor: $main-img-cursor;
}

@mixin base-main-div() {
  grid-column-start: $main-img-grid-column-start;
  margin: $main-img-margin;
  width: $main-img-width;
  cursor: $main-img-cursor;
}
