// *
$base-box-sizing: content-box;
$base-display: block;

// title
$title-display: none;

// html
$base-margin: auto;
$base-font-family: sans-serif;
$base-font-size: 18px;

// body
$base-background-image: url("../../assets/background.png");
$base-background-repeat: no-repeat;
$base-background-size: 100%;

// color
$petrol: rgba(3, 75, 95, 1);
$blass: rgba(255, 255, 255, 0.4);
$white: lighten($petrol, 100%);
$black-black: darken($petrol, 100%);
$red: rgba(159, 5, 5, 1);
$light-blue: rgba(25, 197, 243, 1);

//fonts
$h3-font-size: 2.5em;
$h3-color: $white;
$h3-font-family: "Marion";
$h3-font-weight: 200;

$h4-font-size: 2rem;
$h4-color: $red;
