<!DOCTYPE html>

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>flowerPower</title>
    <!-- <link rel="stylesheet" href="gridGood.css" /> -->
    <link rel="stylesheet" href="flexGood.css" />
  </head>

  <body>
    <h1>Layout Test</h1>

    <main>
      <section>
        <h2>Ja wir testen Layout</h2>

        <div>
          <img src=pics/motte.jpg alt="Motte"> <img src=pics/motte.jpg alt="Motte"> <img src=pics/motte.jpg alt="Motte"> <img src=pics/motte.jpg
          alt="Motte"><img src=pics/motte.jpg alt="Motte"> <img src=pics/motte.jpg alt="Motte"> <img src=pics/motte.jpg alt="Motte"> <img
          src=pics/motte.jpg alt="Motte">
        </div>
      </section>

      <section>
        <h3>Ja immer noch Layout</h3>
        <div>
          <article>
            <h4>Layout</h4>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit am
          </article>

          <article>
            <h4>Layout Layout</h4>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit am
          </article>

          <article>
            <h4>LaLaLaLaLayoooout</h4>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit am
          </article>

          <article>
            <h4>LLLLLLLLLLaaaaaayyyyyyout</h4>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit am
          </article>
        </div>
      </section>
    </main>
  </body>
</html>
