h1 {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  color: #b0b0b0;

  /* yellow */
  color: #f6f629;
  color: #fff608;
  color: #f5f589;

  /* darkyellow */
  background-color: #f3cd0f;
  color: rgb(209, 178, 20);
  color: rgba(195, 172, 55, 0.4);

  /* light orange */
  color: #f2d08d;
  background-color: rgba(252, 227, 178, 1);
  color: rgb(250, 196, 88);

  /* orange  */
  background-color: rgb(253, 170, 3);
  color: #fdaa03;
  color: rgba(213/129/18, 0.1);
  color: #e19a3e;

  /* red */
  color: #eb230d;
  color: rgba(176, 26, 10, 1);
  color: rgba(182, 70, 58);

  /* magenta */
  background-color: rgba(240, 1, 224, 1);
  color: #ec40e1;
  color: #e477dc;

  /* violett */
  background-color: rgb(79, 7, 149);
  color: #a946eb;
  color: #8743b5;

  /* dunkelblau */
  color: rgba(57, 13, 235, 1);
  color: #3b1cb6;
  color: rgb(48, 22, 155);

  /* blue */
  color: #0f98e8;
  color: rgba(74, 164, 216, 1);
  color: rgb(147, 203, 237);

  /* cyan */
  color: rgba(23, 248, 255, 0.1);
  color: #5edee2;
  color: #2e9194;

  /* grün */
  color: #0d6825;
  background-color: rgba(60, 141, 82, 1);
  color: rgb(106, 164, 122);

  /* lightgreen */
  color: #0aff4c;
  color: rgba(91, 238, 86, 1);
  background-color: rgb(180, 255, 178);
}
